.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: orange;
  font-size: 1.2em;

  box-sizing: border-box;
  border: 1px solid #888;
  width: calc(25% + 1px);
  margin-top: -1px;
  margin-left: -1px;

  &.empty {
    background: transparent;
    border: none;
  }
}
